$fontColor1: rgb(54, 54, 54);
$bp:1px solid black;

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $fontColor1;
}

.body{
    width: 80%;
    margin: auto;
    padding: 1%;
    box-shadow:5px 5px 20px 10px #d3d3d3;
    border: 1px solid black;
}   
.header{
    width: 100%;
    margin: 0;
    border: $bp ;
    display: block;
    .optionsHead{
        display: inline;
    }
}